.aboutmain {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-image: linear-gradient(179.36deg, #e7ceeb 31.25%, #8A15FF 237.21%);
  height: 750px;
}

.box {
  width: 326px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 22px 0px #8A15FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
  margin-top: 120px;
  /* Adjust margin to create space between boxes */
}

.box:last-child {
  margin-right: 0;
  /* Remove margin from last box to prevent extra space */
}

.box img {
  width: 200px;
  height: 220px;
  flex-shrink: 0;

}

.box p {
  width: 182px;
  height: 67px;
  flex-shrink: 0;
  text-align: center;
}