.clients-section {
  text-align: center;
  padding: 50px 0;
  background-image: url("../assets/backofclient.png");
  background-color: #e7ceeb;
  background-size: cover; /* Add this line */
  background-repeat: no-repeat; /* Add this line */
}



.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 90px;
  
}

.client:not(:last-child) {
  margin-bottom: 40px;
}

.client img {
  width: 100%;
  max-width: 180px; /* Increase the logo size for mobile screens */
  height: 150px;
  margin-bottom: 10px;
  
}

.client::before {
  content: "";
  display: block;
  width: 0px;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -15px;
  top: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.slick-slider {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}



@media (max-width: 768px) {
  .clients-section h2 {
    font-size: 45px;
    margin-bottom: 30px; /* Reduce the bottom margin */
    
  }

  .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px; /* Increase the gap between logos */
    margin-right: 200px;
  }

  .client:not(:last-child) {
    margin-bottom: 60px; /* Increase the gap between logos */
    margin-right: 200px;
  }

  .client img {
    width: 150px; /* Increase the max-width to make the logos larger */
    height: 130px; 
    margin-bottom: 30px; /* Increase the gap between the image and the next logo */
    padding: 15px;
    margin-right: 200px;
  }

  .logo-container {
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 100px;
    position: relative;
    margin: 0 80px; /* Add horizontal margin to create space between logos */
    margin-right: 200px;
  }

}
