.testimonial-container {
  width: 100vw;
  
}

.testimonial-card:not(.testimonial-card--middle)  {
  border-radius: 10px;
  border: 2px solid #FFF;
  background: linear-gradient(180deg, #2c2929 0%, #2E025A 35%, #9044DB 68%, #9833E8 90.5%);
  width: 50%;
  height: 150px;
  flex-shrink: 0;
  margin-top: 40px;
  padding: 20px; /* Add padding to the card content */
  margin-left: 40px;
}

.testimonial-card--middle {
  border: 8.178px solid #ffffff;
  box-shadow: 0px 4px 250px 80px #9373EE;
  width: 100%;
  height: 254.751px;
  border-radius: 20px;
  border: 5.765px solid #FFF;
  background: linear-gradient(180deg, #2c2929 0%, #2E025A 35%, #9044DB 68%, #9833E8 90.5%);
  flex-shrink: 0;
  padding: 20px; /* Add padding to the card content */
  margin-left: 40px;
  margin-right: 40px;
}

.testimonial-card--middle .testimonial-text {
  font-size: 12px;
}
.testimonial-text {
  margin-bottom: 10px; /* Add some spacing between the quote and author */
  font-size: 8px;
  color: white;
}

.testimonial-author {
  font-style: italic;
  font-size: 15px;
  color: white;
}

